.navbar > h1{
    font-size: 1.2rem;
    transition: font-size 2s linear;
}   

@media screen and (min-width: 768px) {
    .navbar > h1:hover{
        color: red;
        cursor: pointer;
        font-size: 1rem;
    }
}
    

