
body {
    background-color: rgb(249, 242, 242);
}

.navbar {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
}


.navbar .list {
    display: flex;
    opacity: 0;

}

.navbar .list .list-item a {
    margin-left: 15px;
    text-decoration: none;
   
}

.navbar .list .list-item a:hover {
    font-size: 1.1rem;
    transition: font-size 0.5s linear;
}


.my-works {
    display: flex;
    justify-content: center;
}

.form {
    padding: 10px 20px;

}  

.footer {
    display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px 20px;
}

@media(min-width: 768px) {
    .navbar .list {
        opacity: 1;
    }
}  





    




    
    
    

